.background{
    background-color: black;
    padding-top:200px;
   
}

.container {
    
    background-color: black;
}
.main{
    padding:100px;
}
.left-panel {
    text-align: center;
}

.left-panel img {
    max-width: 100%;
}

.left-panel h1 {
    font-size: 80px;
    color: red;
}

.left-panel h6 {
    font-size: 40px;
    color:white;
}

.right-panel {
    padding: 0 20px;
}

.main-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
}

.main-card h1, .main-card h3 {
    margin-top: 0;
}

.contact-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-image: url('https://media.istockphoto.com/id/1450058572/photo/businessman-using-a-laptop-and-touching-on-virtual-screen-contact-icons-consists-of-telephone.jpg?s=2048x2048&w=is&k=20&c=7KhNOYQ1PAxuAcVxu_YieJo5wvIvBpcw1nkXDJ5YM30=');
}

.contact-info a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.contact-info img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    padding: 30px;
}

.objective {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: justify;
    line-height: 40px;
    color:white;
}

.objective p {
    font-size: 20px;
    color:white;
}

.container {
    padding: 20px;
    width: 100%;
}

.Experience {
    margin-bottom: 30px;
}

.main-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.card {
    margin-bottom: 20px;
}

.card-footer{
    text-align: center;
}
.card-footer a{
    text-decoration: none;
    color:black;
    font-size: 30px;
}

li{
    line-height: 25px;
    padding-top:20px;
}
.col-md-4{
    padding:20px;
}
.col-md-4 h2{
    padding:20px;
}
.col-md-8{
    padding:20px;
}
.col-md-8 h2{
    padding:20px;
}

.container1{
    background-image: url('https://images.unsplash.com/photo-1480506132288-68f7705954bd?q=80&w=1840&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    margin-top:100px;
}
.card h2{
    text-decoration: underline;
    font-weight: bold;
}
.row h1{
    color:blueviolet;
    padding-top:20px;
}
.skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.skill-card {
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
.skill-img img{
    width:100px;
    height:100px;
    margin: 0 auto;
}
.skill-img{
    display: flex;
    flex-wrap:wrap;
    gap:30px;
    padding: 30px;
    
  }
.skill-row{
    display:flex;
    gap:30px;
}
.exp{
    padding-top:100px;
    
}
.exp h1{
    color:red;
}
.skills{
    padding-top:100px;
    padding-bottom:50px;
}
.skills h1{
    color:red;
}
.footer{
    margin-top: 100px;
    background-color: azure;
   
}
.footer-row{
    display: flex;
    justify-content: space-between;
}

.footers{
    padding:50px;
}
.footers a{
    text-decoration: none;
    color: black;
}
video{
    padding-top:20px;
}
@media only screen and (max-width: 765px) {
    /* Adjustments for mobile devices */

    .left-panel h1 {
        font-size: 40px;
    }

    .left-panel h6 {
        font-size: 24px;
    }
    .main-card{
        margin-top:80px;
    }
    .contact-info{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }

    .contact-info img {
        width: 100px;
        height: 100px;
    }

    .objective {
        padding-top: 60px;
        padding-bottom: 20px;
        font-size: 8px;
        line-height: 30px;
        
    }
    .objective h1{
        color:red;
    }
    .objective p{
        padding-top: 40px;
       
    }
  
    p{
        font-size: 12px !important;
    }
    .card,
    .col-md-4,
    .col-md-8 {
        padding: 10px;
    }

    .col-md-4 h2,
    .col-md-8 h2 {
        padding: 10px;
    }

    .row h1 {
        padding-top: 10px;
        font-size: 24px;
    }

    .skill-container {
        padding: 10px;
    }

    .skill-card {
        width: calc(50% - 10px);
        font-size: 14px;
    }

    .skill-img img {
        width: 80px;
        height: 80px;
    }

    .exp,
    .skills {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .exp h1,
    .skills h1 {
        font-size: 30px;
    }

    .footer-row {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .footers {
        padding: 20px;
    }

    .footers a {
        font-size: 16px;
    }

    .skill-row {
        flex-direction: column; /* Stack the cards vertically */
        align-items: center; /* Center align the cards */
    }

    .skill-card {
        width: 100%; /* Take up full width */
        margin-bottom: 20px; /* Add some space between cards */
    }

    .skill-img img {
        width: 80px; /* Adjust image size for smaller screens */
        height: 80px;
    }

    .card h1 {
        font-size: 24px; /* Adjust heading font size */
    }
    .card-footer{
        padding-bottom: 20px;
    }
    .card-footer a{
        font-size: 12px;
    }
    ul{
        font-size: 12px;
    }
    .container1{
        background-image: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .background {
        padding: 0px;
    }

    .left-panel h1 {
        font-size: 40px;
    }

    .left-panel h6 {
        font-size: 24px;
    }
    .right-panel{
        padding-top:30px;
    }
    .exp-body{
        display: none;
    }
    .exp-card{
        display:none;
    }
    
    .contact-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .contact-info img {
        width: 100px;
        height: 100px;
    }

    .objective {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 16px; /* Adjust font size */
        line-height: 30px;
    }

    .objective h1 {
        color: red;
    }

    .objective p {
        padding-top: 20px;
    }

    p {
        font-size: 15px !important;
    }

    .card,
    .col-md-4,
    .col-md-8 {
        padding: 10px;
    }

    .col-md-4 h2,
    .col-md-8 h2 {
        padding: 10px;
    }
    .row{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .row h1 {
        padding-top: 10px;
        font-size: 24px;
    }

    .skill-container {
        padding: 10px;
    }

    .skill-card {
        width: calc(50% - 10px);
        font-size: 14px;
    }

    .skill-img img {
        width: 80px;
        height: 80px;
    }

    .exp,
    .skills {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .exp h1,
    .skills h1 {
        font-size: 30px;
    }

    .footer-row {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footers {
        padding: 20px;
    }

    .footers a {
        font-size: 16px;
    }

    .skill-row {
        flex-direction: column; /* Stack the cards vertically */
        align-items: center; /* Center align the cards */
    }

    .skill-card {
        width: 100%; /* Take up full width */
        margin-bottom: 20px; /* Add some space between cards */
    }

    .skill-img img {
        width: 80px; /* Adjust image size for smaller screens */
        height: 80px;
    }

    .card h1 {
        font-size: 24px; /* Adjust heading font size */
    }

    .card-footer {
        padding-bottom: 20px;
    }

    .card-footer a {
        font-size: 20px;
    }

    ul {
        font-size: 12px;
    }

    .container1 {
        background-image: none;
    }
    
}
